<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="FLEEP_USERNAME" value="kuroalerts@gmail.com"/>
    <add key="FLEEP_PASSWORD" value="yoink23s"/>
    <add key="COMMAND_PREFIX" value="!"/>
    <add key="ADMIN_COMMAND_PREFIX" value="$" />
    <add key="LOGS" value="D:\James\C#\FleepBot\logs\" />
    <add key="PYTHON3" value="C:\Python35\python.exe" />
    
    <add key="HANGOUTS_CMD" value="&quot;C:\Program Files (x86)\hangoutsbot\hangupsbot\tests\base-send.py&quot; &quot;https://127.0.0.1:9001/{0}/&quot; &quot;{1}&quot;" />
    
    <add key="AWS_ENABLED" value="true" />
    <add key="AWSRegion" value="us-east-1" />
    <add key="AWSAccessKey" value="AKIAI76RQQOX6RPH5IOQ" />
    <add key="AWSSecretKey" value="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" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>