<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="FLEEP_USERNAME" value=""/>
    <add key="FLEEP_PASSWORD" value=""/>
    <add key="COMMAND_PREFIX" value="!"/>
    <add key="ADMIN_COMMAND_PREFIX" value="$" />
    <add key="LOGS" value="D:\James\C#\FleepBot\logs\" />
    <add key="PYTHON3" value="C:\Python35\python.exe" />
    
    <add key="HANGOUTS_CMD" value="&quot;C:\Program Files (x86)\hangoutsbot\hangupsbot\tests\base-send.py&quot; &quot;https://127.0.0.1:9001/{0}/&quot; &quot;{1}&quot;" />

    <add key="SMTP_HOST" value="smtp.gmail.com" />
    <add key="SMTP_PORT" value="587" />
    <add key="SMTP_USERNAME" value="" />
    <add key="SMTP_PASSWORD" value="" />
	
    <add key="AWS_ENABLED" value="false" />
    <add key="AWSRegion" value="us-east-1" />
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>